.modalcontainer {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.3);
    display: flex;
    align-items: center;
    justify-content: center;

    #modal {
        background: #ffffff;
    }
}

.modal-btn {
    margin-top: 10px; 
    margin-left: 10px; 
    background: #366ed8; 
    color: #ffffff;
}

.modal-btn:hover {
    background: #ffbd39;
    color: black;
}