body {
  font-family: 'Telex', sans-serif !important;
  background: #f8f8f8 !important;
  color: var(--mainWhite) !important;
}

.text-title {
  font-family: 'Radley', serif; 
  letter-spacing: 0.3rem;
  text-transform: uppercase;
}

